<div class="container ask">
  <div class="card text-center">
    <form action="/answer" method="get">
      <label for="question">Ask your question:</label>
      <input id="question" type="text" name="query" placeholder="Your question here" class="form-control">
      <input type="submit" class="btn btn-primary">
    </form>
  </div>
</div>
